<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="workers" value="2"/>
    <add key="batch_account_url" value="Your Batch account Url"/>
    <add key="vm_image" value="Cuatom Image Resource ID"/>
    <add key="resourcefile_folder" value="Local folder where you have resource file"/>
    <add key="resourcefile_name" value="resource file name"/>
    <add key="blob_container" value="blob container name for resource file"/>
    <add key="aad_endpoint" value="https://login.microsoftonline.com/your_AAD_Tenant_ID"/>
    <add key="vm_sku" value="VM SKU name for Pool"/>
    <add key="batch_application_id" value="AAD Registered Application ID"/>
    <add key="batch_applcation_key" value="AAD Registered App key"/>    
    <add key="batch_account_name" value="batch account name"/>
    <add key="storage_cnstr" value="storage account cnstring"/>
  </appSettings>
</configuration>