<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="workers" value="2"/>
    <add key="batch_account_url" value="https://skokiebatch.centralus.batch.azure.com"/>
    <add key="vm_image" value="/subscriptions/f05bd3e7-fe83-40ae-9dec-7f146792b60d/resourceGroups/batch-rg/providers/Microsoft.Compute/images/batchimage"/>
    <add key="resourcefile_folder" value="c:\batch\"/>
    <add key="resourcefile_name" value="resourcefile01.xml"/>
    <add key="blob_container" value="batchresource"/>
    <add key="aad_endpoint" value="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47"/>
    <add key="vm_sku" value="Standard_E2_v3"/>
    <add key="batch_application_id" value="c95e726e-24b7-42ed-ae7f-667cbc4a2b78"/>
    <add key="batch_applcation_key" value="thliAAnnAMUkcOqK9dSbB0Xco+YJyUmgqQBuF/Lz+WY="/>
    <add key="batch_account_name" value="skokiebatch"/>
    <add key="storage_cnstr" value="DefaultEndpointsProtocol=https;AccountName=pfpe3soxgtokmstorage;AccountKey=DzJquyhLAm58gyy1oSV7il+BLPsK1BtOIHiNXKweeB3W5HrEO17L69gC/S6c4JJojftt7/jeKK85AD+IAEJkAg==;EndpointSuffix=core.windows.net"/>
  </appSettings>
</configuration>